events {}

http {
    server {
        listen       80;
        server_name  _;

        location ${STATIC_CONTEXT} {
            alias /usr/share/nginx/html/dist/public/;
            index  index.html index.htm;
        }
    }
}